---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import type { NavItem } from '../config';
import Card from './Card.astro';

interface CardData {
  href: string;
  title: string;
  shortdesc: string;
  feature?: ImageMetadata;
  date?: Date;
  tags?: string[];
  isBlog?: boolean;
}

interface Props {
  item: NavItem;
  cards?: CardData[];
  feature?: ImageMetadata;
  sectionbg?: string;
  c2aText?: string;
  noC2A?: boolean;
}

const { item, cards, feature, sectionbg, c2aText, noC2A } = Astro.props as Props;
const bg = sectionbg || 'bg-neutral-900';
const cols = feature ? 'md:grid-cols-2' : '';
const topCards = (cards ?? []).slice(0, 3);
---
<section class={`${bg} flex justify-center w-full py-6`}>
    <div class="grid lg:max-w-6xl md:max-w-4xl w-full p-6 justify-start text-xl ">
        {/* Title */}
        <h3 class="text-3xl font-bold">{item.shortDesc}</h3>

        {/* Text content + feature */}
        <div class={`text-white-dim grid gap-4 ${cols}`}>
            <div class="post-content text-lg"><slot /></div>
            <div>
                {feature && <Image src={feature} alt="" />}
            </div>
        </div>

        {/* If the section has cards, render top 3 */}
        {topCards.length > 0 ? (
        <div class="grid md:grid-cols-3 auto-rows-fr gap-4 mb-6 cards-reveal-container">
            {topCards.map((c) => (
              <Card {...c} />
            ))}
        </div>
        ) : (
        <div class=""></div>
        )}

        {/* C2A */}
        {!noC2A && (
        <a class="text-base p-3 max-w-fit bg-quaternary text-neutral-900 hover:bg-quinary font-medium rounded-md transition-colors duration-300 btn-glow"
            href={item.href}>
            {c2aText || 'See more...'}
        </a>
        )}
    </div>
</section>
